Repository bokeh/bokeh, pull requests merged in 2020-12, with the labels that each got.

#10745 Update Stamen doc urls for SSL Links
  bokeh/tile_providers.py
Labels: status: accepted

#10741 Only use SRI hashes in template when available
  bokeh/core/_templates/js_resources.html
Labels: status: accepted

#10729 Edit first steps guides
  README.md
  sphinx/source/docs/first_steps.rst
  sphinx/source/docs/first_steps/examples/first_steps_1_multiple_lines.py
  sphinx/source/docs/first_steps/examples/first_steps_1_simple_line.py
  sphinx/source/docs/first_steps/examples/first_steps_2_add_bars.py
  sphinx/source/docs/first_steps/examples/first_steps_2_add_circles.py
  sphinx/source/docs/first_steps/examples/first_steps_2_style_circle.py
  sphinx/source/docs/first_steps/examples/first_steps_2_style_existing_circle.py
  sphinx/source/docs/first_steps/examples/first_steps_3_box_annotation.py
  sphinx/source/docs/first_steps/examples/first_steps_3_legend.py
  sphinx/source/docs/first_steps/examples/first_steps_3_title.py
  sphinx/source/docs/first_steps/examples/first_steps_4_add_tools.py
  sphinx/source/docs/first_steps/examples/first_steps_4_axes_customizing.py
  sphinx/source/docs/first_steps/examples/first_steps_4_axes_logarithmic.py
  sphinx/source/docs/first_steps/examples/first_steps_4_background.py
  sphinx/source/docs/first_steps/examples/first_steps_4_bands.py
  sphinx/source/docs/first_steps/examples/first_steps_4_datetime_axis.py
  sphinx/source/docs/first_steps/examples/first_steps_4_grid_lines.py
  sphinx/source/docs/first_steps/examples/first_steps_4_plot_axis_ranges.py
  sphinx/source/docs/first_steps/examples/first_steps_4_plot_size.py
  sphinx/source/docs/first_steps/examples/first_steps_4_plot_size_responsive.py
  sphinx/source/docs/first_steps/examples/first_steps_4_resize_plot.py
  sphinx/source/docs/first_steps/examples/first_steps_4_themes.py
  sphinx/source/docs/first_steps/examples/first_steps_4_tick_formatter.py
  sphinx/source/docs/first_steps/examples/first_steps_4_toolbar.py
  sphinx/source/docs/first_steps/examples/first_steps_4_toolbar_autohide.py
  sphinx/source/docs/first_steps/examples/first_steps_4_tools.py
  sphinx/source/docs/first_steps/examples/first_steps_4_tooltips.py
  sphinx/source/docs/first_steps/examples/first_steps_5_vectorize_color.py
  sphinx/source/docs/first_steps/examples/first_steps_5_vectorize_color_and_size.py
  sphinx/source/docs/first_steps/examples/first_steps_6_row_layout.py
  sphinx/source/docs/first_steps/examples/first_steps_6_row_layout_responsive.py
  sphinx/source/docs/first_steps/examples/first_steps_7_export_html.py
  sphinx/source/docs/first_steps/examples/first_steps_9_widgets.py
  sphinx/source/docs/first_steps/first_steps_1.rst
  sphinx/source/docs/first_steps/first_steps_2.rst
  sphinx/source/docs/first_steps/first_steps_3.rst
  sphinx/source/docs/first_steps/first_steps_4.rst
  sphinx/source/docs/first_steps/first_steps_5.rst
  sphinx/source/docs/first_steps/first_steps_6.rst
  sphinx/source/docs/first_steps/first_steps_7.rst
  sphinx/source/docs/first_steps/first_steps_8.rst
  sphinx/source/docs/first_steps/first_steps_9.rst
  sphinx/source/docs/first_steps/installation.rst
Labels: reso: completed, status: accepted, tag: component: docs, type: task

#10632 #10539 applied style writing guidelines to tools.rst
  sphinx/source/docs/user_guide/tools.rst
Labels: reso: completed, status: accepted, tag: component: docs, type: task

#10682 #10539 extensions.rst
  sphinx/source/docs/user_guide/examples/extensions_putting_together_ts.py
  sphinx/source/docs/user_guide/extensions.rst
Labels: reso: completed, status: accepted, tag: component: docs, type: task

#10509 Improve Icon alignment when no label for Button
  bokehjs/src/lib/models/widgets/abstract_button.ts
Labels: status: accepted

#10759 Upgrade to Chrome/Chromium browser 87.x
  bokehjs/test/baselines/linux/Widgets__should_allow_DateRangeSlider.png
  bokehjs/test/baselines/linux/Widgets__should_allow_DateSlider.png
  bokehjs/test/baselines/linux/Widgets__should_allow_RangeSlider.png
  bokehjs/test/baselines/linux/Widgets__should_allow_Slider.png
  bokehjs/test/baselines/macos/Widgets__should_allow_DateRangeSlider.png
  bokehjs/test/baselines/macos/Widgets__should_allow_DateSlider.png
  bokehjs/test/baselines/macos/Widgets__should_allow_RangeSlider.png
  bokehjs/test/baselines/macos/Widgets__should_allow_Slider.png
  bokehjs/test/baselines/windows/Widgets__should_allow_DateRangeSlider.png
  bokehjs/test/baselines/windows/Widgets__should_allow_DateSlider.png
  bokehjs/test/baselines/windows/Widgets__should_allow_RangeSlider.png
  bokehjs/test/baselines/windows/Widgets__should_allow_Slider.png
  bokehjs/test/devtools/devtools.ts
  sphinx/source/docs/dev_guide/bokehjs.rst
Labels: reso: completed, status: accepted, tag: component: bokehjs, tag: component: tests, type: task

#10760 Manually quote arguments to npx
  bokehjs/package-lock.json
  bokehjs/package.json
  sphinx/source/docs/dev_guide/bokehjs.rst
  tests/codebase/test_js_license_set.py
Labels: reso: completed, status: accepted, tag: component: tests, type: bug

#10564 Preliminary support for data models
  bokeh/core/has_props.py
  bokeh/core/property/descriptors.py
  bokeh/document/document.py
  bokeh/model.py
  bokeh/models/expressions.py
  bokehjs/src/lib/base.ts
  bokehjs/src/lib/core/has_props.ts
  bokehjs/src/lib/core/types.ts
  bokehjs/src/lib/core/util/object.ts
  bokehjs/src/lib/core/vectorization.ts
  bokehjs/src/lib/document/defs.ts
  bokehjs/src/lib/document/document.ts
  bokehjs/src/lib/models/expressions/customjs_expr.ts
  bokehjs/src/lib/models/expressions/index.ts
  bokehjs/src/lib/models/renderers/glyph_renderer.ts
  bokehjs/src/lib/models/renderers/graph_renderer.ts
  examples/plotting/file/customjs_expr.py
  examples/plotting/file/data_models.py
Labels: status: accepted

#10761 Restore 'index' argument to HoverTool.callback
  bokehjs/src/lib/models/tools/inspectors/hover_tool.ts
Labels: status: WIP

#10647 [Spinner] Avoid twice incrementation with laptop pad
  bokehjs/src/lib/models/widgets/spinner.ts
Labels: reso: completed, status: accepted, tag: component: bokehjs, tag: widgets, type: bug

#10762 Improve BitSet.select() and fix a CustomJS example
  bokehjs/src/lib/core/util/bitset.ts
  bokehjs/test/unit/core/util/bitset.ts
  sphinx/source/docs/user_guide/examples/interaction_callbacks_for_range_update.py
Labels: status: accepted

#10766 10539 plotting.rst
  sphinx/source/docs/user_guide/plotting.rst
Labels: status: accepted, tag: component: docs, type: task

#10786 20201216.1718 resolve feature 10783. tested and working.
  examples/plotting/file/boxplot.py
Labels: status: accepted

#10764 Add visual tests for Legend annotation
  bokehjs/test/baselines/Legend_annotation__should_support_various_combinations_of_locations_and_orientations
  bokehjs/test/baselines/linux/Legend_annotation__should_support_various_combinations_of_locations_and_orientations.png
  bokehjs/test/baselines/macos/Legend_annotation__should_support_various_combinations_of_locations_and_orientations.png
  bokehjs/test/baselines/windows/Legend_annotation__should_support_various_combinations_of_locations_and_orientations.png
  bokehjs/test/integration/annotations/legend.ts
  examples/integration/annotations/legend.py
  examples/models/file/synthetic.py
Labels: reso: completed, status: accepted, tag: component: bokehjs, tag: component: tests, type: task

#10785 Request paint only for changed renderers
  bokehjs/src/lib/api/plotting.ts
  bokehjs/src/lib/models/annotations/arrow.ts
  bokehjs/src/lib/models/annotations/color_bar.ts
  bokehjs/src/lib/models/annotations/label_set.ts
  bokehjs/src/lib/models/annotations/legend.ts
  bokehjs/src/lib/models/annotations/poly_annotation.ts
  bokehjs/src/lib/models/annotations/slope.ts
  bokehjs/src/lib/models/annotations/text_annotation.ts
  bokehjs/src/lib/models/annotations/upper_lower.ts
  bokehjs/src/lib/models/glyphs/image.ts
  bokehjs/src/lib/models/plots/gmap_plot_canvas.ts
  bokehjs/src/lib/models/plots/plot_canvas.ts
  bokehjs/src/lib/models/ranges/data_range1d.ts
  bokehjs/src/lib/models/renderers/renderer.ts
  bokehjs/src/lib/models/tools/gestures/select_tool.ts
  bokehjs/test/unit/regressions.ts
Labels: status: accepted

#10793 Update styling.rst according to style guidelines
  bokeh/models/annotations.py
  sphinx/source/docs/includes/colors.txt
  sphinx/source/docs/includes/hatch_props.txt
  sphinx/source/docs/user_guide/styling.rst
Labels: reso: completed, status: accepted, tag: component: docs

#10807 remove explicit defaults channel from ci env files
  bokeh/sphinxext/bokeh_enum.py
  bokeh/sphinxext/bokeh_github.py
  bokeh/sphinxext/bokeh_model.py
  bokeh/sphinxext/bokeh_palette.py
  bokeh/sphinxext/bokeh_sitemap.py
  bokeh/sphinxext/bokehjs_content.py
  bokeh/sphinxext/example_handler.py
  ci/environment-test-3.6.yml
  ci/environment-test-3.7.yml
  ci/environment-test-3.8.yml
  ci/environment-test-3.9.yml
  release/action.py
  release/config.py
  release/credentials.py
  release/logger.py
  release/pipeline.py
  release/remote.py
  release/system.py
  release/ui.py
Labels: status: accepted
