Repository bokeh/bokeh, pull requests merged in 2021-11, with the labels that each got.

#11678 Updateable ColorBar axis/title/colormapper
  bokehjs/src/lib/core/property_mixins.ts
  bokehjs/src/lib/models/annotations/color_bar.ts
  bokehjs/src/lib/models/mappers/continuous_color_mapper.ts
  bokehjs/test/baselines/linux/Bug__in_issue_#11231__doesn't_allow_to_reposition_inner_axes_after_layout.blf
  bokehjs/test/baselines/linux/Bug__in_issue_#11462__doesn't_update_ColorBar_after_mapper_axis_title_property_updates.blf
  bokehjs/test/baselines/linux/Bug__in_issue_#11462__doesn't_update_ColorBar_after_mapper_axis_title_property_updates.png
  bokehjs/test/baselines/linux/Color_mapping__with_histogram_equalization__should_support_gaussian_distributed_data.blf
  bokehjs/test/baselines/linux/Color_mapping__with_histogram_equalization__should_support_pipeline_data.blf
  bokehjs/test/baselines/linux/Color_mapping__with_histogram_equalization__should_support_sparse_cells_data.blf
  bokehjs/test/baselines/linux/Color_mapping__with_histogram_equalization__should_support_sparse_squares_data.blf
  bokehjs/test/baselines/linux/Color_mapping__with_histogram_equalization__should_support_uniformly_distributed_data.blf
  bokehjs/test/baselines/macos/Bug__in_issue_#11231__doesn't_allow_to_reposition_inner_axes_after_layout.blf
  bokehjs/test/baselines/macos/Bug__in_issue_#11462__doesn't_update_ColorBar_after_mapper_axis_title_property_updates.blf
  bokehjs/test/baselines/macos/Bug__in_issue_#11462__doesn't_update_ColorBar_after_mapper_axis_title_property_updates.png
  bokehjs/test/baselines/macos/Color_mapping__with_histogram_equalization__should_support_gaussian_distributed_data.blf
  bokehjs/test/baselines/macos/Color_mapping__with_histogram_equalization__should_support_pipeline_data.blf
  bokehjs/test/baselines/macos/Color_mapping__with_histogram_equalization__should_support_sparse_cells_data.blf
  bokehjs/test/baselines/macos/Color_mapping__with_histogram_equalization__should_support_sparse_squares_data.blf
  bokehjs/test/baselines/macos/Color_mapping__with_histogram_equalization__should_support_uniformly_distributed_data.blf
  bokehjs/test/baselines/windows/Bug__in_issue_#11231__doesn't_allow_to_reposition_inner_axes_after_layout.blf
  bokehjs/test/baselines/windows/Bug__in_issue_#11462__doesn't_update_ColorBar_after_mapper_axis_title_property_updates.blf
  bokehjs/test/baselines/windows/Bug__in_issue_#11462__doesn't_update_ColorBar_after_mapper_axis_title_property_updates.png
  bokehjs/test/baselines/windows/Color_mapping__with_histogram_equalization__should_support_gaussian_distributed_data.blf
  bokehjs/test/baselines/windows/Color_mapping__with_histogram_equalization__should_support_pipeline_data.blf
  bokehjs/test/baselines/windows/Color_mapping__with_histogram_equalization__should_support_sparse_cells_data.blf
  bokehjs/test/baselines/windows/Color_mapping__with_histogram_equalization__should_support_sparse_squares_data.blf
  bokehjs/test/baselines/windows/Color_mapping__with_histogram_equalization__should_support_uniformly_distributed_data.blf
  bokehjs/test/integration/regressions.ts
Labels: status: accepted

#11780 Update root `View`'s `ready` promise along its descendants
  bokehjs/src/lib/core/view.ts
  bokehjs/test/integration/regressions.ts
Labels: tag: component: tests, status: accepted, type: task, reso: completed, tag: component: bokehjs, tag: codebase

#11781 fix transform jitter example
  examples/models/file/transform_jitter.py
Labels: status: accepted, type: task, reso: completed, tag: component: examples, NEEDS BACK PORT

#11773 Remove `CDSView.source` and infer the source from `CDSView`'s parent
  bokeh/core/validation/errors.py
  bokeh/models/renderers.py
  bokeh/models/sources.py
  bokeh/models/util/structure.py
  bokeh/models/widgets/tables.py
  bokehjs/src/lib/api/figure.ts
  bokehjs/src/lib/models/mappers/continuous_color_mapper.ts
  bokehjs/src/lib/models/renderers/glyph_renderer.ts
  bokehjs/src/lib/models/sources/cds_view.ts
  bokehjs/src/lib/models/widgets/tables/data_table.ts
  bokehjs/src/lib/models/widgets/tables/table_widget.ts
  bokehjs/test/integration/color_mapping.ts
  bokehjs/test/integration/regressions.ts
  bokehjs/test/unit/core/selection_manager.ts
  bokehjs/test/unit/core/visuals.ts
  bokehjs/test/unit/models/renderers/glyph_renderer.ts
  bokehjs/test/unit/models/sources/cds_view.ts
  bokehjs/test/unit/models/tools/edit/poly_edit_tool.ts
  bokehjs/test/unit/models/widgets/tables/data_cube.ts
  bokehjs/test/unit/models/widgets/tables/data_table.ts
  bokehjs/test/unit/regressions.ts
  examples/app/fourier_animated.py
  examples/embed/file_html.py
  sphinx/source/docs/first_steps/examples/first_steps_8_filter.py
  sphinx/source/docs/first_steps/first_steps_8.rst
  sphinx/source/docs/releases/3.0.0.rst
  sphinx/source/docs/user_guide/data.rst
  sphinx/source/docs/user_guide/examples/data_filtering_boolean_filter.py
  sphinx/source/docs/user_guide/examples/data_filtering_group_filter.py
  sphinx/source/docs/user_guide/examples/data_filtering_index_filter.py
  sphinx/source/docs/user_guide/examples/data_linked_brushing_subsets.py
  tests/unit/bokeh/plotting/test__decorators.py
  tests/unit/bokeh/plotting/test__renderer.py
Labels: status: accepted, type: task, reso: completed, tag: API: models

#11775 Add metadata to examples/models/file/daylight.py (#11765)
  examples/models/file/daylight.py
Labels: tag: component: docs, status: accepted, type: task, reso: completed, tag: component: examples

#10623 Push to server only actually changed properties
  bokehjs/src/lib/core/has_props.ts
  bokehjs/src/lib/models/tools/edit/edit_tool.ts
  bokehjs/src/lib/models/tools/edit/point_draw_tool.ts
  bokehjs/test/unit/document/document.ts
  sphinx/source/docs/releases/3.0.0.rst
Labels: status: accepted

#11778 Docker dev image (#11352)
  .github/workflows/bokeh-docker-build.yml
  .gitignore
  bokehjs/make/tasks/test.ts
  ci/docker/Dockerfile
  ci/docker/bokeh_docker_build.sh
  ci/docker/bokeh_docker_test.sh
  ci/docker/entrypoint.sh
Labels: status: ready, type: task

#11790 Bryanv/pin sphinx 42
  ci/environment-release-build.yml
  ci/environment-test-3.7.yml
  ci/environment-test-3.8.yml
  ci/environment-test-3.9.yml
  environment.yml
Labels: status: ready, type: task, reso: completed, tag: component: build

#11797 Add OS to bokeh info
  bokeh/command/subcommands/info.py
  sphinx/source/docs/dev_guide/setup.rst
  tests/unit/bokeh/command/subcommands/test_info.py
Labels: status: accepted, type: task, reso: completed

#11777 Add support for unset properties to bokehjs
  bokeh/core/has_props.py
  bokeh/model/model.py
  bokeh/models/expressions.py
  bokeh/models/ranges.py
  bokehjs/make/tasks/generate_defaults.py
  bokehjs/src/lib/base.ts
  bokehjs/src/lib/core/deserializer.ts
  bokehjs/src/lib/core/has_props.ts
  bokehjs/src/lib/core/kinds.ts
  bokehjs/src/lib/core/properties.ts
  bokehjs/src/lib/core/serializer.ts
  bokehjs/src/lib/core/util/eq.ts
  bokehjs/src/lib/document/defs.ts
  bokehjs/src/lib/document/document.ts
  bokehjs/src/lib/model.ts
  bokehjs/src/lib/models/canvas/cartesian_frame.ts
  bokehjs/src/lib/models/expressions/maximum.ts
  bokehjs/src/lib/models/expressions/minimum.ts
  bokehjs/src/lib/models/mappers/continuous_color_mapper.ts
  bokehjs/src/lib/models/plots/range_manager.ts
  bokehjs/src/lib/models/ranges/data_range.ts
  bokehjs/src/lib/models/ranges/data_range1d.ts
  bokehjs/src/lib/models/ranges/factor_range.ts
  bokehjs/src/lib/models/ranges/range.ts
  bokehjs/src/lib/models/scales/linear_interpolation_scale.ts
  bokehjs/src/lib/models/sources/column_data_source.ts
  bokehjs/src/lib/models/sources/server_sent_data_source.ts
  bokehjs/src/lib/models/textures/image_url_texture.ts
  bokehjs/src/lib/models/tools/actions/custom_action.ts
  bokehjs/src/lib/models/tools/gestures/tap_tool.ts
  bokehjs/src/lib/models/tools/inspectors/hover_tool.ts
  bokehjs/src/lib/models/tools/toolbar.ts
  bokehjs/src/lib/models/widgets/tables/table_column.ts
  bokehjs/test/defaults/index.ts
  bokehjs/test/unit/assertions.ts
  bokehjs/test/unit/core/serializer.ts
  bokehjs/test/unit/document/defs.ts
  bokehjs/test/unit/models/ranges/data_range1d.ts
  bokehjs/test/unit/models/tickers/single_interval_ticker.ts
  bokehjs/test/unit/models/util.ts
  bokehjs/test/unit/models/widgets/slider.ts
  examples/custom/font-awesome/fontawesome_icon.ts
  sphinx/source/docs/releases/3.0.0.rst
  tests/unit/bokeh/document/test_document.py
  tests/unit/bokeh/models/test_plots.py
  tests/unit/bokeh/models/test_ranges.py
Labels: status: ready, type: task, tag: component: bokehjs

#11796 add support for favicon.ico
  MANIFEST.in
  bokeh/command/subcommands/serve.py
  bokeh/server/tornado.py
  bokeh/server/views/bokeh-dev.ico
  bokeh/server/views/bokeh.ico
  bokeh/server/views/ico_handler.py
  bokeh/settings.py
  sphinx/source/docs/releases/3.0.0.rst
  tests/unit/bokeh/command/subcommands/favicon-dev.ico
  tests/unit/bokeh/command/subcommands/test_serve.py
  tests/unit/bokeh/test_settings.py
Labels: status: accepted

#11793 add a version query to custom.css
  sphinx/source/conf.py
Labels: status: accepted, NEEDS BACK PORT

#11802 Retry computing data ranges if initial are no good
  bokehjs/src/lib/models/plots/range_manager.ts
  bokehjs/test/baselines/linux/Bug__in_issue_#11801__prevents_computation_of_data_ranges_if_a_plot_was_initially_not_visible.blf
  bokehjs/test/baselines/linux/Bug__in_issue_#11801__prevents_computation_of_data_ranges_if_a_plot_was_initially_not_visible.png
  bokehjs/test/baselines/macos/Bug__in_issue_#11801__prevents_computation_of_data_ranges_if_a_plot_was_initially_not_visible.blf
  bokehjs/test/baselines/macos/Bug__in_issue_#11801__prevents_computation_of_data_ranges_if_a_plot_was_initially_not_visible.png
  bokehjs/test/baselines/windows/Bug__in_issue_#11801__prevents_computation_of_data_ranges_if_a_plot_was_initially_not_visible.blf
  bokehjs/test/baselines/windows/Bug__in_issue_#11801__prevents_computation_of_data_ranges_if_a_plot_was_initially_not_visible.png
  bokehjs/test/integration/regressions.ts
Labels: status: accepted, NEEDS BACK PORT

#11808 Don't unnecessarily update node/edge renderers in graphs
  bokehjs/src/lib/models/renderers/graph_renderer.ts
Labels: type: bug, status: accepted, reso: completed, NEEDS BACK PORT

#11807 Work around issues with initialization-time change discovery
  bokehjs/src/lib/document/document.ts
  bokehjs/test/unit/regressions.ts
Labels: status: accepted, NEEDS BACK PORT

#11795 Update issue template to use new GH forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.md
Labels: status: accepted

#11810 Update docs for new issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.md
  sphinx/source/docs/dev_guide/creating_issues.rst
Labels: tag: component: docs, status: accepted, type: task, NEEDS BACK PORT

#11814 Fix webgl dashed line joins with butt end caps
  bokehjs/src/lib/models/glyphs/webgl/regl_line.frag
  bokehjs/test/baselines/linux/Line_glyph__should_support_dashed_lines_with_named_patterns.png
  bokehjs/test/baselines/linux/Line_glyph__should_support_dashed_lines_with_numerical_patterns.png
  bokehjs/test/baselines/linux/Line_glyph__should_support_dashed_lines_with_offsets.png
  bokehjs/test/baselines/macos/Line_glyph__should_support_dashed_lines_with_named_patterns.png
  bokehjs/test/baselines/macos/Line_glyph__should_support_dashed_lines_with_numerical_patterns.png
  bokehjs/test/baselines/macos/Line_glyph__should_support_dashed_lines_with_offsets.png
  bokehjs/test/baselines/windows/Line_glyph__should_support_dashed_lines_with_named_patterns.png
  bokehjs/test/baselines/windows/Line_glyph__should_support_dashed_lines_with_numerical_patterns.png
  bokehjs/test/baselines/windows/Line_glyph__should_support_dashed_lines_with_offsets.png
Labels: status: accepted, type: task, reso: completed, tag: webgl

#11813 Clarify handling and internal types of partial messages
  bokehjs/src/lib/client/connection.ts
  bokehjs/src/lib/client/session.ts
  bokehjs/src/lib/embed/notebook.ts
  bokehjs/src/lib/protocol/message.ts
  bokehjs/src/lib/protocol/receiver.ts
  bokehjs/test/unit/protocol/message.ts
Labels: status: accepted, type: task, tag: component: bokehjs

#11809 metadata for examples/models/file/calendars.py added
  examples/models/file/calendars.py
Labels: tag: component: docs, status: accepted, type: task, reso: completed, tag: component: examples

#11469 Provide complete model context for deserialization of instances
  bokeh/document/document.py
  tests/unit/bokeh/document/test_document.py
Labels: status: accepted, NEEDS BACK PORT

#11819 Correctly handle odd-length dash patterns in WebGL
  bokehjs/src/lib/models/glyphs/webgl/dash_cache.ts
  bokehjs/src/lib/models/glyphs/webgl/line_gl.ts
  bokehjs/test/integration/glyphs/line.ts
Labels: type: bug, status: accepted, reso: completed, tag: component: bokehjs, tag: webgl

#11816 Reorganize bokehjs' dependencies using npm workspaces
  bokehjs/.gitignore
  bokehjs/make/package.json
  bokehjs/package-lock.json
  bokehjs/package.json
  bokehjs/src/compiler/package.json
  bokehjs/src/compiler/transforms.ts
  bokehjs/src/lib/package.json
  bokehjs/test/baselines/linux/Widgets__should_allow_RangeSlider.png
  bokehjs/test/baselines/linux/Widgets__should_allow_Slider.png
  bokehjs/test/baselines/macos/Widgets__should_allow_RangeSlider.png
  bokehjs/test/baselines/macos/Widgets__should_allow_Slider.png
  bokehjs/test/baselines/windows/Widgets__should_allow_RangeSlider.png
  bokehjs/test/baselines/windows/Widgets__should_allow_Slider.png
  bokehjs/test/package.json
  examples/custom/gears/package-lock.json
  examples/custom/wrapped_extension_full/latex_label/package-lock.json
  release/build.py
Labels: status: accepted, type: task, reso: completed, tag: component: build, tag: component: bokehjs

#11821 Update branches in CI workflow configurations
  .github/workflows/bokeh-ci.yml
  .github/workflows/bokehjs-ci.yml
Labels: type: bug, status: accepted, reso: completed, tag: CI

#11824 Updates for release
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.md
  sphinx/source/docs/dev_guide/creating_issues.rst
  sphinx/source/docs/releases/2.4.2.rst
  sphinx/versions.json
Labels: status: accepted, type: task, reso: completed

#11823 Force webgl backend when requested for testing
  .github/workflows/bokeh-ci.yml
  .github/workflows/bokehjs-ci.yml
  bokehjs/src/lib/core/settings.ts
  bokehjs/src/lib/models/canvas/canvas.ts
  bokehjs/test/devtools/test.html
Labels: tag: component: tests, status: accepted, type: task, reso: completed, tag: component: bokehjs, NEEDS BACK PORT

#11829 Fix webgl line NaN handling
  bokehjs/src/lib/models/glyphs/webgl/line_gl.ts
  bokehjs/src/lib/models/glyphs/webgl/regl_line.vert
  bokehjs/src/lib/models/glyphs/webgl/regl_wrap.ts
  bokehjs/src/lib/models/glyphs/webgl/types.ts
  bokehjs/test/baselines/linux/webgl__should_support_zoom_without_NaN_problems.blf
  bokehjs/test/baselines/linux/webgl__should_support_zoom_without_NaN_problems.png
  bokehjs/test/baselines/macos/webgl__should_support_zoom_without_NaN_problems.blf
  bokehjs/test/baselines/macos/webgl__should_support_zoom_without_NaN_problems.png
  bokehjs/test/baselines/windows/webgl__should_support_zoom_without_NaN_problems.blf
  bokehjs/test/baselines/windows/webgl__should_support_zoom_without_NaN_problems.png
  bokehjs/test/integration/glyphs/webgl.ts
Labels: type: bug, status: ready, reso: completed, tag: component: bokehjs, tag: webgl

#11831 2.4.2 forward ports
  CHANGELOG
  bokeh/_sri.json
  sphinx/source/docs/releases/2.4.2.rst
  sphinx/versions.json
Labels: status: accepted, type: task, reso: completed

#11833 simplify CI jobs with composite action
  .github/workflows/bokeh-ci.yml
  .github/workflows/composite/test-setup/action.yml
  ci/unpack_artifacts.sh
Labels: status: accepted, type: task, reso: completed, tag: CI

#11709 Update contributor docs (part 2)
  sphinx/source/_images/bokeh_bokehjs.svg
  sphinx/source/_images/chrome_headless_debugging.png
  sphinx/source/_images/objects.png
  sphinx/source/_static/custom.css
  sphinx/source/docs/dev_guide.rst
  sphinx/source/docs/dev_guide/bokehjs.rst
  sphinx/source/docs/dev_guide/debug_headless_chrome.rst
  sphinx/source/docs/dev_guide/models.rst
  sphinx/source/docs/dev_guide/python.rst
  sphinx/source/docs/dev_guide/testing.rst
  sphinx/source/docs/dev_guide/writing_tests.rst
Labels: tag: component: docs, status: accepted, type: task

#11828 Robustify detection of changes during initialization
  bokehjs/src/lib/client/connection.ts
  bokehjs/src/lib/core/deserializer.ts
  bokehjs/src/lib/core/has_props.ts
  bokehjs/src/lib/document/defs.ts
  bokehjs/src/lib/document/document.ts
  bokehjs/src/lib/document/events.ts
  bokehjs/src/lib/models/plots/plot.ts
  bokehjs/test/unit/document/document.ts
  bokehjs/test/unit/document/events.ts
  bokehjs/test/unit/regressions.ts
Labels: status: ready

#11825 bokeh/bokeh#11640 Document Tool.icon in user guide
  sphinx/source/docs/user_guide/examples/customizing_tools_icon.py
  sphinx/source/docs/user_guide/examples/customizing_tools_tooltip.py
  sphinx/source/docs/user_guide/tools.rst
Labels: status: accepted

#11840 Support multiple marker types in WebGL scatter
  bokeh/models/glyphs.py
  bokeh/plotting/glyph_api.py
  bokehjs/src/lib/models/glyphs/circle.ts
  bokehjs/src/lib/models/glyphs/glyph.ts
  bokehjs/src/lib/models/glyphs/scatter.ts
  bokehjs/src/lib/models/glyphs/webgl/markers.ts
  bokehjs/test/baselines/linux/Marker_glyph__should_support_multiple_marker_types_in_scatter.blf
  bokehjs/test/baselines/linux/Marker_glyph__should_support_multiple_marker_types_in_scatter.png
  bokehjs/test/baselines/macos/Marker_glyph__should_support_multiple_marker_types_in_scatter.blf
  bokehjs/test/baselines/macos/Marker_glyph__should_support_multiple_marker_types_in_scatter.png
  bokehjs/test/baselines/windows/Marker_glyph__should_support_multiple_marker_types_in_scatter.blf
  bokehjs/test/baselines/windows/Marker_glyph__should_support_multiple_marker_types_in_scatter.png
  bokehjs/test/integration/glyphs/markers.ts
Labels: type: feature, status: accepted, reso: completed, tag: component: bokehjs, tag: webgl

#11834 Fixed xwheel and xzoom tools with hard bounds (#11832)
  bokehjs/src/lib/models/plots/range_manager.ts
  bokehjs/test/baselines/linux/Bug__in_issue_#11832__should_x-zoom_the_x-axis_when_the_y-axis_is_bounded.blf
  bokehjs/test/baselines/linux/Bug__in_issue_#11832__should_x-zoom_the_x-axis_when_the_y-axis_is_bounded.png
  bokehjs/test/baselines/macos/Bug__in_issue_#11832__should_x-zoom_the_x-axis_when_the_y-axis_is_bounded.blf
  bokehjs/test/baselines/macos/Bug__in_issue_#11832__should_x-zoom_the_x-axis_when_the_y-axis_is_bounded.png
  bokehjs/test/baselines/windows/Bug__in_issue_#11832__should_x-zoom_the_x-axis_when_the_y-axis_is_bounded.blf
  bokehjs/test/baselines/windows/Bug__in_issue_#11832__should_x-zoom_the_x-axis_when_the_y-axis_is_bounded.png
  bokehjs/test/integration/regressions.ts
Labels: status: accepted
