Repository bokeh/bokeh, pull requests merged in 2021-10, with the labels that each got.

#11696 Change name of FuncTickFormatter to CustomJSTickFormatter
  bokeh/models/formatters.py
  bokehjs/src/lib/models/formatters/customjs_tick_formatter.ts
  bokehjs/src/lib/models/formatters/index.ts
  bokehjs/test/unit/models/formatters/customjs_tick_formatter.ts
  bokehjs/test/unit/models/widgets/slider.ts
  examples/app/population.py
  examples/custom/parallel_plot/parallel_plot.py
  sphinx/source/docs/releases/3.0.0.rst
  sphinx/source/docs/user_guide/examples/styling_func_tick_formatter.py
  tests/unit/bokeh/models/test_formatters.py
Labels: status: accepted

#11706 Add streaming circle test for issue #5046
  bokehjs/test/baselines/linux/Bug__in_issue_#5046__prevents_webgl_rendering_of_streaming_markers.blf
  bokehjs/test/baselines/linux/Bug__in_issue_#5046__prevents_webgl_rendering_of_streaming_markers.png
  bokehjs/test/baselines/macos/Bug__in_issue_#5046__prevents_webgl_rendering_of_streaming_markers.blf
  bokehjs/test/baselines/macos/Bug__in_issue_#5046__prevents_webgl_rendering_of_streaming_markers.png
  bokehjs/test/baselines/windows/Bug__in_issue_#5046__prevents_webgl_rendering_of_streaming_markers.blf
  bokehjs/test/baselines/windows/Bug__in_issue_#5046__prevents_webgl_rendering_of_streaming_markers.png
  bokehjs/test/integration/regressions.ts
Labels: tag: component: tests, status: accepted, type: task, reso: completed, tag: component: bokehjs

#11717 Fix bokehjs normally distributed random numbers
  bokehjs/src/lib/api/linalg.ts
  bokehjs/test/baselines/linux/Examples__should_support_NormalDistribution.png
  bokehjs/test/baselines/macos/Examples__should_support_NormalDistribution.png
  bokehjs/test/baselines/windows/Examples__should_support_NormalDistribution.png
Labels: type: bug, status: accepted, reso: completed, tag: component: bokehjs

#11721 Upgrade SlickGrid to version 2.4.41(01)
  bokehjs/package-lock.json
  bokehjs/package.json
Labels: status: accepted

#11719 Don't depend on signaling order when initializing data
  bokehjs/src/lib/core/has_props.ts
  bokehjs/src/lib/models/expressions/expression.ts
  bokehjs/src/lib/models/expressions/stack.ts
Labels: status: accepted, NEEDS BACK PORT

#11774 11765 basic plot example metadata
  examples/models/file/basic_plot.py
Labels: status: accepted, type: task, tag: component: examples
