Repository bokeh/bokeh, pull requests merged in 2021-05, with the labels that each got.

#11230 Link to Code of Conduct in issue and feature request templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: reso: completed, status: accepted, type: task

#11232 Fix OpenURL escaping
  bokehjs/src/lib/models/callbacks/open_url.ts
  bokehjs/test/integration/regressions.ts
  bokehjs/test/unit/models/callbacks/openurl.ts
Labels: NEEDS FORWARD PORT, status: accepted

#11235 updates for 2.3.2 release
  CHANGELOG
  sphinx/source/docs/releases/2.3.2.rst
  sphinx/versions.json
Labels: NEEDS FORWARD PORT, type: task

#11165 Add support for embedding plots/layouts in tooltips
  bokeh/model.py
  bokeh/models/css.py
  bokeh/models/dom.py
  bokeh/models/renderers.py
  bokeh/models/tools.py
  bokeh/plotting/figure.py
  bokehjs/src/lib/base.ts
  bokehjs/src/lib/core/dom.ts
  bokehjs/src/lib/core/dom_view.ts
  bokehjs/src/lib/core/util/templating.ts
  bokehjs/src/lib/core/view.ts
  bokehjs/src/lib/document/document.ts
  bokehjs/src/lib/models/canvas/canvas.ts
  bokehjs/src/lib/models/dom/index.ts
  bokehjs/src/lib/models/dom/styles.ts
  bokehjs/src/lib/models/layouts/layout_dom.ts
  bokehjs/src/lib/models/renderers/index.ts
  bokehjs/src/lib/models/renderers/renderer.ts
  bokehjs/src/lib/models/tools/button_tool.ts
  bokehjs/src/lib/models/tools/inspectors/hover_tool.ts
  bokehjs/src/lib/models/tools/toolbar_base.ts
  bokehjs/src/lib/models/widgets/abstract_icon.ts
  bokehjs/src/lib/models/widgets/tables/cell_editors.ts
  bokehjs/test/unit/core/util/templating.ts
  examples/plotting/file/css_layouts.py
  examples/plotting/file/periodic.py
  examples/plotting/file/periodic_shells.py
  tests/unit/bokeh/models/test_annotations.py
Labels: status: ready, tag: layout, type: feature

#11243 Clarify instructions for GOOGLE_API_KEY
  sphinx/source/docs/dev_guide/documentation.rst
Labels: NEEDS FORWARD PORT, status: ready

#11004 Add support for incremental TypeScript builds
  bokehjs/src/compiler/compiler.ts
  bokehjs/src/compiler/tsconfig.json
  bokehjs/src/lib/tsconfig.json
Labels: reso: completed, status: accepted, tag: component: bokehjs, tag: component: build, type: task

#11246 Update bokehjs' dependencies
  bokehjs/package-lock.json
  bokehjs/package.json
  bokehjs/src/less/widgets/nouislider.less
  bokehjs/src/lib/models/widgets/abstract_slider.ts
Labels: reso: completed, status: accepted, tag: component: bokehjs, tag: component: build, type: task

#11249 Invalidate coords of layoutable renderers after resize
  bokehjs/src/lib/api/palettes.ts
  bokehjs/src/lib/models/axes/axis.ts
  bokehjs/src/lib/models/renderers/renderer.ts
  bokehjs/test/baselines/linux/Bug__in_issue_#11231__doesn't_allow_to_reposition_inner_axes_after_layout.blf
  bokehjs/test/baselines/linux/Bug__in_issue_#11231__doesn't_allow_to_reposition_inner_axes_after_layout.png
  bokehjs/test/baselines/macos/Bug__in_issue_#11231__doesn't_allow_to_reposition_inner_axes_after_layout.blf
  bokehjs/test/baselines/macos/Bug__in_issue_#11231__doesn't_allow_to_reposition_inner_axes_after_layout.png
  bokehjs/test/baselines/windows/Bug__in_issue_#11231__doesn't_allow_to_reposition_inner_axes_after_layout.blf
  bokehjs/test/baselines/windows/Bug__in_issue_#11231__doesn't_allow_to_reposition_inner_axes_after_layout.png
  bokehjs/test/codebase/size.ts
  bokehjs/test/integration/regressions.ts
Labels: NEEDS BACK PORT, status: accepted

#11250 Update installation link
  sphinx/source/docs/first_steps.rst
Labels: NEEDS FORWARD PORT, status: accepted, tag: component: docs, type: task

#11252 Fix webgl line alpha issues
  bokehjs/src/lib/models/glyphs/webgl/line_gl.ts
  bokehjs/src/lib/models/glyphs/webgl/regl_wrap.ts
  bokehjs/test/baselines/linux/Line_glyph__should_support_NaN_in_coords.png
  bokehjs/test/baselines/linux/Line_glyph__should_support_crossing_line.png
  bokehjs/test/baselines/linux/Line_glyph__should_support_dashed_lines_with_named_patterns.png
  bokehjs/test/baselines/linux/Line_glyph__should_support_dashed_lines_with_numerical_patterns.png
  bokehjs/test/baselines/linux/Line_glyph__should_support_dashed_lines_with_round_caps.png
  bokehjs/test/baselines/linux/Line_glyph__should_support_dashed_lines_with_square_caps.png
  bokehjs/test/baselines/linux/Line_glyph__should_support_solid_lines_with_caps_and_joins.png
  bokehjs/test/baselines/linux/webgl__should_render_overlapping_near_parallel_lines.png
  bokehjs/test/baselines/linux/webgl__should_support_nan_in_line.png
  bokehjs/test/baselines/macos/Line_glyph__should_support_NaN_in_coords.png
  bokehjs/test/baselines/macos/Line_glyph__should_support_crossing_line.png
  bokehjs/test/baselines/macos/Line_glyph__should_support_dashed_lines_with_named_patterns.png
  bokehjs/test/baselines/macos/Line_glyph__should_support_dashed_lines_with_numerical_patterns.png
  bokehjs/test/baselines/macos/Line_glyph__should_support_dashed_lines_with_round_caps.png
  bokehjs/test/baselines/macos/Line_glyph__should_support_dashed_lines_with_square_caps.png
  bokehjs/test/baselines/macos/Line_glyph__should_support_solid_lines_with_caps_and_joins.png
  bokehjs/test/baselines/macos/webgl__should_render_overlapping_near_parallel_lines.png
  bokehjs/test/baselines/macos/webgl__should_support_nan_in_line.png
  bokehjs/test/baselines/windows/Line_glyph__should_support_NaN_in_coords.png
  bokehjs/test/baselines/windows/Line_glyph__should_support_crossing_line.png
  bokehjs/test/baselines/windows/Line_glyph__should_support_dashed_lines_with_named_patterns.png
  bokehjs/test/baselines/windows/Line_glyph__should_support_dashed_lines_with_numerical_patterns.png
  bokehjs/test/baselines/windows/Line_glyph__should_support_dashed_lines_with_round_caps.png
  bokehjs/test/baselines/windows/Line_glyph__should_support_dashed_lines_with_square_caps.png
  bokehjs/test/baselines/windows/Line_glyph__should_support_solid_lines_with_caps_and_joins.png
  bokehjs/test/baselines/windows/webgl__should_render_overlapping_near_parallel_lines.png
  bokehjs/test/baselines/windows/webgl__should_support_nan_in_line.png
Labels: reso: completed, status: accepted, tag: component: bokehjs, tag: webgl, type: task

#11262 Move WebGLRenderingContext use to ReGL
  bokehjs/src/lib/models/canvas/canvas.ts
  bokehjs/src/lib/models/glyphs/circle.ts
  bokehjs/src/lib/models/glyphs/line.ts
  bokehjs/src/lib/models/glyphs/rect.ts
  bokehjs/src/lib/models/glyphs/scatter.ts
  bokehjs/src/lib/models/glyphs/webgl/line_gl.ts
  bokehjs/src/lib/models/glyphs/webgl/markers.ts
  bokehjs/src/lib/models/glyphs/webgl/rect.ts
  bokehjs/src/lib/models/glyphs/webgl/regl_wrap.ts
  bokehjs/src/lib/models/glyphs/webgl/types.ts
Labels: reso: completed, status: accepted, tag: component: bokehjs, tag: webgl, type: task

#11272 Upgrade TypeScript to 4.3-rc
  bokehjs/package-lock.json
  bokehjs/package.json
Labels: reso: completed, status: accepted, tag: component: bokehjs, tag: component: build, type: task

#11277 WebGL line glyphs reuse arrays and buffers
  bokehjs/src/lib/models/glyphs/webgl/base.ts
  bokehjs/src/lib/models/glyphs/webgl/line_gl.ts
  bokehjs/src/lib/models/glyphs/webgl/regl_wrap.ts
  bokehjs/src/lib/models/glyphs/webgl/types.ts
Labels: reso: completed, status: accepted, tag: component: bokehjs, tag: webgl, type: task

#11187 Expand rst_epilog
  bokeh/client/session.py
  bokeh/command/util.py
  bokeh/core/property/color.py
  bokeh/core/property/dataspec.py
  bokeh/io/notebook.py
  bokeh/io/showing.py
  bokeh/io/state.py
  bokeh/layouts.py
  bokeh/models/annotations.py
  bokeh/models/glyphs.py
  bokeh/models/markers.py
  bokeh/models/plots.py
  bokeh/plotting/figure.py
  bokeh/plotting/glyph_api.py
  bokeh/plotting/gmap.py
  bokeh/server/server.py
  bokeh/settings.py
  bokeh/sphinxext/bokeh_palette.py
  bokeh/themes/theme.py
  bokeh/util/browser.py
  sphinx/source/docs/dev_guide/bindings.rst
  sphinx/source/docs/dev_guide/documentation.rst
  sphinx/source/docs/dev_guide/models.rst
  sphinx/source/docs/dev_guide/server.rst
  sphinx/source/docs/dev_guide/setup.rst
  sphinx/source/docs/dev_guide/testing.rst
  sphinx/source/docs/first_steps.rst
  sphinx/source/docs/first_steps/first_steps_1.rst
  sphinx/source/docs/first_steps/first_steps_2.rst
  sphinx/source/docs/first_steps/first_steps_3.rst
  sphinx/source/docs/first_steps/first_steps_4.rst
  sphinx/source/docs/first_steps/first_steps_7.rst
  sphinx/source/docs/first_steps/first_steps_8.rst
  sphinx/source/docs/first_steps/first_steps_9.rst
  sphinx/source/docs/first_steps/installation.rst
  sphinx/source/docs/reference.rst
  sphinx/source/docs/reference/core/validation.rst
  sphinx/source/docs/reference/models.rst
  sphinx/source/docs/user_guide/annotations.rst
  sphinx/source/docs/user_guide/bokehjs.rst
  sphinx/source/docs/user_guide/categorical.rst
  sphinx/source/docs/user_guide/cli.rst
  sphinx/source/docs/user_guide/concepts.rst
  sphinx/source/docs/user_guide/data.rst
  sphinx/source/docs/user_guide/embed.rst
  sphinx/source/docs/user_guide/export.rst
  sphinx/source/docs/user_guide/extensions.rst
  sphinx/source/docs/user_guide/interaction/widgets.rst
  sphinx/source/docs/user_guide/jupyter.rst
  sphinx/source/docs/user_guide/plotting.rst
  sphinx/source/docs/user_guide/styling.rst
  sphinx/source/docs/user_guide/tools.rst
  sphinx/source/index.rst
  sphinx/source/rst_epilog.txt
Labels: status: ready, tag: component: docs, type: task

#11289 Allow `div(element)` instead of `div({}, element)`
  bokehjs/src/lib/core/dom.ts
  bokehjs/src/lib/models/tools/inspectors/hover_tool.ts
  bokehjs/src/lib/models/widgets/autocomplete_input.ts
  bokehjs/src/lib/models/widgets/checkbox_group.ts
  bokehjs/src/lib/models/widgets/dropdown.ts
  bokehjs/src/lib/models/widgets/radio_group.ts
  bokehjs/src/lib/models/widgets/tables/cell_formatters.ts
Labels: reso: completed, status: accepted, tag: component: bokehjs, type: task

#11258 Add initial support for `PathLike` where `str` paths are accepted
  bokeh/core/types.py
  bokeh/io/export.py
  bokeh/io/saving.py
  bokeh/io/showing.py
  bokeh/io/state.py
  bokeh/resources.py
  bokeh/settings.py
  setup.cfg
  tests/unit/bokeh/io/test_saving.py
  typings/yaml.pyi
Labels: status: accepted

#11286 docs: fix code snippet in Label
  sphinx/source/docs/user_guide/annotations.rst
Labels: reso: completed, status: accepted, tag: component: docs, type: task

#11314 Upgrade to TS 4.3 and refresh package lock files
  bokehjs/make/main.ts
  bokehjs/package-lock.json
  bokehjs/package.json
  bokehjs/src/lib/models/plots/gmap_plot_canvas.ts
  bokehjs/src/lib/tsconfig.json
  examples/custom/gears/package-lock.json
  examples/custom/wrapped_extension_full/latex_label/package-lock.json
  tests/unit/bokeh/embed/ext_package_no_main/package-lock.json
  tests/unit/bokeh/embed/latex_label/package-lock.json
Labels: reso: completed, status: ready, tag: component: bokehjs, tag: component: build, type: task
