Repository bokeh/bokeh, pull requests merged in 2022-10, with the labels that each got.

#12445 Allow propagation of computed layout in nested CSS layouts
  bokehjs/.gitignore
  bokehjs/src/lib/models/layouts/layout_dom.ts
  bokehjs/test/baselines/linux/Bug__in_issue_#12405__doesn't_allow_to_propagate_computed_layouts_in_nested_CSS_layouts.blf
  bokehjs/test/baselines/linux/Bug__in_issue_#12405__doesn't_allow_to_propagate_computed_layouts_in_nested_CSS_layouts.png
  bokehjs/test/baselines/linux/Examples__should_support_Anscombe.blf
  bokehjs/test/baselines/linux/Examples__should_support_Anscombe.png
  bokehjs/test/integration/examples/anscombe.ts
  bokehjs/test/integration/regressions.ts
Labels: status: accepted

#12451 Better defaults for rows and cols sizing in `GridPlot`
  bokehjs/src/lib/api/figure.ts
  bokehjs/src/lib/models/plots/grid_plot.ts
  bokehjs/test/baselines/linux/Bug__in_issue_#12448__doesn't_allow_for_good_rows_and_cols_sizing_defaults_in_GridPlot.blf
  bokehjs/test/baselines/linux/Bug__in_issue_#12448__doesn't_allow_for_good_rows_and_cols_sizing_defaults_in_GridPlot.png
  bokehjs/test/integration/regressions.ts
  src/bokeh/models/plots.py
  tests/baselines/defaults.yaml
Labels: status: accepted

#12449 Fix interference issues between tooltips and toolbars
  bokehjs/src/less/canvas.less
  bokehjs/src/less/tooltips.less
  bokehjs/src/lib/core/ui_events.ts
  bokehjs/test/baselines/linux/Bug__in_issue_#12447__make_tooltips_interfere_with_toolbars.blf
  bokehjs/test/baselines/linux/Bug__in_issue_#12447__make_tooltips_interfere_with_toolbars.png
  bokehjs/test/integration/_interactive.ts
  bokehjs/test/integration/regressions.ts
Labels: status: accepted

#12455 Fix number in headline
  docs/bokeh/source/docs/dev_guide/setup.rst
Labels: tag: component: docs, status: ready, type: task

#12457 Update Julia bindings in contributing docs
  docs/bokeh/source/docs/dev_guide.rst
Labels: tag: component: docs, status: ready, type: task

#12454 More gallery / user guide improvements
  docs/bokeh/source/_images/examples/basic/layouts/anscombe.png
  docs/bokeh/source/_images/examples/basic/layouts/anscombe@2x.png
  docs/bokeh/source/_images/examples/specialized/pie/donut.png
  docs/bokeh/source/_images/examples/specialized/pie/donut@2x.png
  docs/bokeh/source/_images/examples/specialized/pie/pie.png
  docs/bokeh/source/_images/examples/specialized/pie/pie@2x.png
  docs/bokeh/source/_images/examples/specialized/stats/boxplot.png
  docs/bokeh/source/_images/examples/specialized/stats/boxplot@2x.png
  docs/bokeh/source/_images/examples/specialized/stats/splom.png
  docs/bokeh/source/_images/examples/specialized/stats/splom@2x.png
  docs/bokeh/source/conf.py
  docs/bokeh/source/docs/gallery.json
  docs/bokeh/source/docs/user_guide/server/app.rst
  docs/bokeh/source/docs/user_guide/specialized/pie.rst
  docs/bokeh/source/docs/user_guide/specialized/stats.rst
  examples/basic/layouts/anscombe.py
  examples/models/donut.py
  examples/models/iris_splom.py
  examples/specialized/pie/donut.py
  examples/specialized/pie/pie.py
  examples/specialized/stats/boxplot.py
  examples/specialized/stats/histogram.py
  examples/specialized/stats/splom.py
Labels: tag: component: docs, status: accepted, type: task, reso: completed

#12463 Update theme.yaml
  examples/server/app/crossfilter/theme.yaml
Labels: status: accepted, type: task, reso: completed

#12458 Improve the gallery grid
  docs/bokeh/source/_images/examples/specialized/contour/contour_simple.png
  docs/bokeh/source/_images/examples/specialized/contour/contour_simple@2x.png
  docs/bokeh/source/_static/custom.css
  docs/bokeh/source/conf.py
  docs/bokeh/source/docs/gallery.json
  docs/bokeh/source/docs/gallery.rst
  src/bokeh/sphinxext/_templates/gallery_page.rst
  src/bokeh/sphinxext/bokeh_gallery.py
Labels: tag: component: docs, status: accepted, type: task, reso: completed

#12473 Add server examples to main gallery
  docs/bokeh/source/_images/examples/server/app/crossfilter.png
  docs/bokeh/source/_images/examples/server/app/crossfilter@2x.png
  docs/bokeh/source/_images/examples/server/app/export_csv.png
  docs/bokeh/source/_images/examples/server/app/export_csv@2x.png
  docs/bokeh/source/_images/examples/server/app/gapminder@2x 2.png
  docs/bokeh/source/_images/examples/server/app/gapminder@2x.png
  docs/bokeh/source/_images/examples/server/app/movies@2x 2.png
  docs/bokeh/source/_images/examples/server/app/movies@2x.png
  docs/bokeh/source/_images/examples/server/app/selection_histogram.png
  docs/bokeh/source/_images/examples/server/app/selection_histogram@2x.png
  docs/bokeh/source/_images/examples/server/app/sliders.png
  docs/bokeh/source/_images/examples/server/app/sliders@2x.png
  docs/bokeh/source/_images/examples/server/app/stocks.png
  docs/bokeh/source/_images/examples/server/app/stocks@2x.png
  docs/bokeh/source/_images/examples/server/app/surface3d.png
  docs/bokeh/source/_images/examples/server/app/surface3d@2x.png
  docs/bokeh/source/_images/examples/server/app/weather.png
  docs/bokeh/source/_images/examples/server/app/weather@2x.png
  docs/bokeh/source/_images/examples/topics/contour/contour.png
  docs/bokeh/source/_images/examples/topics/contour/contour@2x.png
  docs/bokeh/source/_images/examples/topics/contour/contour_polar.png
  docs/bokeh/source/_images/examples/topics/contour/contour_polar@2x.png
  docs/bokeh/source/_static/custom.css
  docs/bokeh/source/docs/first_steps/first_steps_9.rst
  docs/bokeh/source/docs/gallery.json
  docs/bokeh/source/docs/gallery.rst
  src/bokeh/sphinxext/_templates/gallery_page.rst
  src/bokeh/sphinxext/bokeh_gallery.py
Labels: type: feature, tag: component: docs, status: accepted, reso: completed

#12475 Limit box select/zoom gestures to the frame
  bokehjs/src/lib/models/tools/gestures/box_select_tool.ts
  bokehjs/src/lib/models/tools/gestures/box_zoom_tool.ts
  bokehjs/test/framework.ts
  bokehjs/test/integration/_util.ts
  bokehjs/test/integration/features.ts
  bokehjs/test/integration/regressions.ts
  bokehjs/test/integration/tools.ts
  bokehjs/test/integration/tsconfig.json
  bokehjs/test/interactive.ts
  bokehjs/test/unit/_util.ts
  bokehjs/test/unit/models/tools/gestures/box_zoom_tool.ts
  bokehjs/test/unit/regressions.ts
  bokehjs/test/unit/tsconfig.json
Labels: status: accepted

#12474 add missing ports and notes
  docs/bokeh/source/docs/releases/0.12.0.rst
  docs/bokeh/source/docs/releases/1.2.0.rst
  docs/bokeh/source/docs/releases/2.4.3.rst
  src/bokeh/_sri.json
  src/bokeh/sphinxext/bokeh_releases.py
Labels: tag: component: docs, status: accepted, type: task, reso: completed

#12477 Fix up some sphinx paths
  docs/bokeh/Makefile
  docs/bokeh/source/conf.py
  docs/bokeh/source/static/custom.css
  docs/bokeh/source/static/custom.js
  docs/bokeh/source/templates/_templates/layout.html
  docs/bokeh/source/templates/_templates/navbar-logo.html
  docs/bokeh/source/templates/_templates/sections/footer.html
Labels: tag: component: docs, status: accepted, type: task, reso: completed

#12437 Update 3.0.0 change log
  docs/bokeh/source/docs/releases/3.0.0.rst
Labels: tag: component: docs, status: accepted, type: task, reso: completed

#12478 Add a batch of new gallery items
  docs/bokeh/source/_images/examples/basic/annotations/band.png
  docs/bokeh/source/_images/examples/basic/annotations/band@2x.png
  docs/bokeh/source/_images/examples/basic/annotations/colorbar_log.png
  docs/bokeh/source/_images/examples/basic/annotations/colorbar_log@2x.png
  docs/bokeh/source/_images/examples/basic/axes/fixed_axis.png
  docs/bokeh/source/_images/examples/basic/axes/fixed_axis@2x.png
  docs/bokeh/source/_images/examples/basic/axes/twin_axes.png
  docs/bokeh/source/_images/examples/basic/axes/twin_axes@2x.png
  docs/bokeh/source/_images/examples/interaction/js_callbacks/customjs_lasso_mean.png
  docs/bokeh/source/_images/examples/interaction/js_callbacks/customjs_lasso_mean@2x.png
  docs/bokeh/source/_images/examples/interaction/js_callbacks/js_on_event.png
  docs/bokeh/source/_images/examples/interaction/js_callbacks/js_on_event@2x.png
  docs/bokeh/source/_images/examples/topics/geo/gmap.png
  docs/bokeh/source/_images/examples/topics/geo/gmap@2x.png
  docs/bokeh/source/_images/examples/topics/geo/tile_demo.png
  docs/bokeh/source/_images/examples/topics/geo/tile_demo@2x.png
  docs/bokeh/source/_images/examples/topics/geo/tile_source.png
  docs/bokeh/source/_images/examples/topics/geo/tile_source@2x.png
  docs/bokeh/source/_images/examples/topics/geo/tile_xyzservices.png
  docs/bokeh/source/_images/examples/topics/geo/tile_xyzservices@2x.png
  docs/bokeh/source/_images/examples/topics/images/image_origin_anchor.png
  docs/bokeh/source/_images/examples/topics/images/image_origin_anchor@2x.png
  docs/bokeh/source/docs/gallery.json
  docs/bokeh/source/docs/user_guide/basic/annotations.rst
  docs/bokeh/source/docs/user_guide/basic/axes.rst
  docs/bokeh/source/docs/user_guide/interaction/js_callbacks.rst
  docs/bokeh/source/docs/user_guide/topics/images.rst
  examples/basic/annotations/colorbar_log.py
  examples/basic/axes/fixed_axis.py
  examples/interaction/js_callbacks/callbacks_js_events.py
  examples/interaction/js_callbacks/customjs_for_hover.py
  examples/interaction/js_callbacks/customjs_for_range_update.py
  examples/interaction/js_callbacks/customjs_for_selection.py
  examples/interaction/js_callbacks/customjs_for_tools.py
  examples/interaction/js_callbacks/customjs_for_widgets.py
  examples/interaction/js_callbacks/customjs_lasso_mean.py
  examples/interaction/js_callbacks/js_on_change.py
  examples/interaction/js_callbacks/js_on_event.py
  examples/interaction/js_callbacks/open_url.py
  examples/interaction/js_callbacks/setvalue.py
  examples/plotting/geojson_points.py
  examples/topics/images/image_origin_anchor.py
Labels: tag: component: docs, status: accepted, type: task

#12472 Make Styling a top-level section
  docs/bokeh/make.bat
  docs/bokeh/source/docs/dev_guide/documentation.rst
  docs/bokeh/source/docs/dev_guide/python.rst
  docs/bokeh/source/docs/dev_guide/setup.rst
  docs/bokeh/source/docs/first_steps/first_steps_1.rst
  docs/bokeh/source/docs/first_steps/first_steps_2.rst
  docs/bokeh/source/docs/first_steps/first_steps_3.rst
  docs/bokeh/source/docs/first_steps/first_steps_4.rst
  docs/bokeh/source/docs/first_steps/first_steps_5.rst
  docs/bokeh/source/docs/first_steps/installation.rst
  docs/bokeh/source/docs/user_guide.rst
  docs/bokeh/source/docs/user_guide/advanced.rst
  docs/bokeh/source/docs/user_guide/advanced/extensions/latex.rst
  docs/bokeh/source/docs/user_guide/basic.rst
  docs/bokeh/source/docs/user_guide/basic/bars.rst
  docs/bokeh/source/docs/user_guide/interaction/js_callbacks.rst
  docs/bokeh/source/docs/user_guide/interaction/legends.rst
  docs/bokeh/source/docs/user_guide/interaction/tools.rst
  docs/bokeh/source/docs/user_guide/intro.rst
  docs/bokeh/source/docs/user_guide/output.rst
  docs/bokeh/source/docs/user_guide/output/embed.rst
  docs/bokeh/source/docs/user_guide/output/webgl.rst
  docs/bokeh/source/docs/user_guide/server.rst
  docs/bokeh/source/docs/user_guide/server/server_introduction.rst
  docs/bokeh/source/docs/user_guide/styling.rst
  docs/bokeh/source/docs/user_guide/styling/mathtext.rst
  docs/bokeh/source/docs/user_guide/styling/palettes_mappers.rst
  docs/bokeh/source/docs/user_guide/styling/plot_elements.rst
  docs/bokeh/source/docs/user_guide/styling/themes.rst
  docs/bokeh/source/docs/user_guide/styling/visual_properties.rst
  docs/bokeh/source/docs/user_guide/topics.rst
  docs/bokeh/source/rst_epilog.txt
  examples/basic/styling/hatch_grid_band.py
  examples/interaction/widgets/radio_button_group.py
  examples/models/latex_labels.py
  examples/plotting/brewer.py
  examples/plotting/trefoil.py
  examples/server/app/duffing_oscillator.py
  examples/topics/mathtext/latex_bessel.py
  examples/topics/mathtext/latex_blackbody_radiation.py
  examples/topics/mathtext/latex_normal_distribution.py
  examples/topics/mathtext/latex_schrodinger.py
  examples/topics/pie/burtin.py
  src/bokeh/embed/standalone.py
  src/bokeh/models/text.py
  src/bokeh/models/tools.py
  src/bokeh/models/widgets/sliders.py
  src/bokeh/plotting/_docstring.py
Labels: tag: component: docs, status: ready, type: task

#12483 Revert "Fix up some sphinx paths"
  docs/bokeh/Makefile
  docs/bokeh/source/_static/custom.css
  docs/bokeh/source/_static/custom.js
  docs/bokeh/source/_templates/layout.html
  docs/bokeh/source/_templates/navbar-logo.html
  docs/bokeh/source/_templates/sections/footer.html
  docs/bokeh/source/conf.py
  tests/unit/bokeh/test_resources.py
Labels: tag: component: docs, status: accepted, reso: completed

#12488 fix win sampledata test
  tests/unit/bokeh/util/test_sampledata__util.py
Labels: type: task

#12490 Use best practices for CustomJS examples
  docs/bokeh/source/_images/examples/interaction/js_callbacks/color_sliders.png
  docs/bokeh/source/_images/examples/interaction/js_callbacks/color_sliders@2x.png
  examples/basic/layouts/dashboard.py
  examples/basic/layouts/sizing_mode_multiple.py
  examples/interaction/js_callbacks/color_sliders.py
  examples/interaction/js_callbacks/customjs_for_selection.py
  examples/interaction/js_callbacks/customjs_for_tools.py
  examples/interaction/js_callbacks/customjs_for_widgets.py
  examples/interaction/js_callbacks/customjs_lasso_mean.py
  examples/interaction/js_callbacks/js_on_change.py
  examples/interaction/js_callbacks/slider.py
  examples/models/transform_interpolator.py
  examples/plotting/data_models.py
  examples/plotting/line_select.py
Labels: status: ready

#12491 Misc examples cleanup (part 1)
  docs/bokeh/source/_images/examples/examples/basic/annotations/box_annotation.png
  docs/bokeh/source/_images/examples/examples/basic/annotations/box_annotation@2x.png
  docs/bokeh/source/_images/examples/interaction/linking/linked_brushing.png
  docs/bokeh/source/_images/examples/interaction/linking/linked_brushing@2x.png
  docs/bokeh/source/_images/examples/interaction/linking/linked_crosshair.png
  docs/bokeh/source/_images/examples/interaction/linking/linked_crosshair@2x.png
  docs/bokeh/source/docs/gallery.json
  docs/bokeh/source/docs/user_guide/interaction/linking.rst
  docs/bokeh/source/docs/user_guide/interaction/widgets.rst
  examples/embed/README.md
  examples/embed/embed_multiple_responsive.py
  examples/embed/embed_responsive_width_height.py
  examples/interaction/js_callbacks/customjs_for_tools.py
  examples/interaction/linking/linked_brushing.py
  examples/interaction/linking/linked_crosshair.py
  examples/interaction/widgets/data_cube.py
  examples/interaction/widgets/select_widget.py
  examples/output/apis/autoload_static.py
  examples/output/apis/autoload_static_flask.py
  examples/output/apis/components.py
  examples/output/apis/components_themed.py
  examples/output/apis/file_html.py
  examples/output/apis/json_item.py
  examples/output/apis/json_item_themed.py
  examples/output/apis/server_document/README.md
  examples/output/apis/server_document/bokeh_server.py
  examples/output/apis/server_document/flask_server.py
  examples/output/apis/server_session/README.md
  examples/output/apis/server_session/bokeh_app.py
  examples/output/apis/server_session/serve.py
  examples/output/apis/server_session/templates/embed.html
  tests/examples.yaml
Labels: tag: component: docs, status: accepted, type: task, reso: completed, tag: component: examples

#12493 Allow to propagate computed layout in more cases
  bokehjs/src/lib/models/layouts/layout_dom.ts
  bokehjs/test/baselines/linux/Bug__in_issue_#12479__doesn't_allow_computing_grid_plot_layout_in_nested_layouts.blf
  bokehjs/test/baselines/linux/Bug__in_issue_#12479__doesn't_allow_computing_grid_plot_layout_in_nested_layouts.png
  bokehjs/test/integration/regressions.ts
Labels: status: accepted

#12496 Update ion range slider example
  examples/advanced/extensions/ion_range_slider.ts
  examples/advanced/extensions/widget.py
Labels: status: accepted

#12497 Move migration guide to Wiki
  docs/CHANGELOG
  docs/bokeh/source/docs/releases.rst
  docs/bokeh/source/docs/releases/0.1.0.rst
  docs/bokeh/source/docs/releases/0.10.0.rst
  docs/bokeh/source/docs/releases/0.11.0.rst
  docs/bokeh/source/docs/releases/0.11.1.rst
  docs/bokeh/source/docs/releases/0.12.0.rst
  docs/bokeh/source/docs/releases/0.12.10.rst
  docs/bokeh/source/docs/releases/0.12.11.rst
  docs/bokeh/source/docs/releases/0.12.13.rst
  docs/bokeh/source/docs/releases/0.12.14.rst
  docs/bokeh/source/docs/releases/0.12.15.rst
  docs/bokeh/source/docs/releases/0.12.16.rst
  docs/bokeh/source/docs/releases/0.12.2.rst
  docs/bokeh/source/docs/releases/0.12.3.rst
  docs/bokeh/source/docs/releases/0.12.4.rst
  docs/bokeh/source/docs/releases/0.12.5.rst
  docs/bokeh/source/docs/releases/0.12.6.rst
  docs/bokeh/source/docs/releases/0.12.7.rst
  docs/bokeh/source/docs/releases/0.12.9.rst
  docs/bokeh/source/docs/releases/0.13.0.rst
  docs/bokeh/source/docs/releases/0.4.0.rst
  docs/bokeh/source/docs/releases/0.7.0.rst
  docs/bokeh/source/docs/releases/1.0.0.rst
  docs/bokeh/source/docs/releases/1.0.1.rst
  docs/bokeh/source/docs/releases/1.0.2.rst
  docs/bokeh/source/docs/releases/1.0.3.rst
  docs/bokeh/source/docs/releases/1.0.4.rst
  docs/bokeh/source/docs/releases/1.1.0.rst
  docs/bokeh/source/docs/releases/1.2.0.rst
  docs/bokeh/source/docs/releases/1.3.0.rst
  docs/bokeh/source/docs/releases/1.4.0.rst
  docs/bokeh/source/docs/releases/2.0.0.rst
  docs/bokeh/source/docs/releases/2.0.1.rst
  docs/bokeh/source/docs/releases/2.0.2.rst
  docs/bokeh/source/docs/releases/2.1.0.rst
  docs/bokeh/source/docs/releases/2.1.1.rst
  docs/bokeh/source/docs/releases/2.2.0.rst
  docs/bokeh/source/docs/releases/2.2.2.rst
  docs/bokeh/source/docs/releases/2.3.0.rst
  docs/bokeh/source/docs/releases/2.3.1.rst
  docs/bokeh/source/docs/releases/2.3.2.rst
  docs/bokeh/source/docs/releases/2.3.3.rst
  docs/bokeh/source/docs/releases/2.4.0.rst
  docs/bokeh/source/docs/releases/2.4.1.rst
  docs/bokeh/source/docs/releases/2.4.2.rst
  docs/bokeh/source/docs/releases/2.4.3.rst
  docs/bokeh/source/docs/releases/3.0.0.rst
  docs/bokeh/source/rst_epilog.txt
  src/bokeh/sphinxext/_templates/release_detail.rst
Labels: tag: component: docs, status: accepted, type: task, reso: completed

#12499 Add two missing words to data.rst
  docs/bokeh/source/docs/user_guide/basic/data.rst
Labels: tag: component: docs, status: accepted, type: task, reso: completed

#12500 Add more examples to gallery
  docs/bokeh/source/_images/examples/basic/data/linear_cmap.png
  docs/bokeh/source/_images/examples/basic/data/linear_cmap@2x.png
  docs/bokeh/source/_images/examples/basic/data/linear_cmap_colorbar.png
  docs/bokeh/source/_images/examples/basic/data/linear_cmap_colorbar@2x.png
  docs/bokeh/source/_images/examples/styling/plots/glyph_hover.png
  docs/bokeh/source/_images/examples/styling/plots/glyph_hover@2x.png
  docs/bokeh/source/_images/examples/styling/plots/glyph_selection.png
  docs/bokeh/source/_images/examples/styling/plots/glyph_selection@2x.png
  docs/bokeh/source/_images/examples/styling/plots/grid_band_fill.png
  docs/bokeh/source/_images/examples/styling/plots/grid_band_fill@2x.png
  docs/bokeh/source/_images/examples/styling/plots/grid_bounds.png
  docs/bokeh/source/_images/examples/styling/plots/grid_bounds@2x.png
  docs/bokeh/source/_images/examples/styling/plots/legend_location_outside.png
  docs/bokeh/source/_images/examples/styling/plots/legend_location_outside@2x.png
  docs/bokeh/source/_images/examples/styling/plots/legend_title.png
  docs/bokeh/source/_images/examples/styling/plots/legend_title@2x.png
  docs/bokeh/source/_images/examples/styling/plots/minor_grid_lines.png
  docs/bokeh/source/_images/examples/styling/plots/minor_grid_lines@2x.png
  docs/bokeh/source/_images/examples/topics/stats/boxplot.png
  docs/bokeh/source/_images/examples/topics/stats/boxplot@2x.png
  docs/bokeh/source/_images/examples/topics/timeseries/candlestick.png
  docs/bokeh/source/_images/examples/topics/timeseries/candlestick@2x.png
  docs/bokeh/source/_images/examples/topics/timeseries/missing_dates.png
  docs/bokeh/source/_images/examples/topics/timeseries/missing_dates@2x.png
  docs/bokeh/source/conf.py
  docs/bokeh/source/docs/gallery.json
  docs/bokeh/source/docs/gallery.rst
  docs/bokeh/source/docs/user_guide/basic/data.rst
  docs/bokeh/source/docs/user_guide/styling/plots.rst
  docs/bokeh/source/docs/user_guide/topics/stats.rst
  docs/bokeh/source/docs/user_guide/topics/timeseries.rst
  examples/basic/data/linear_cmap.py
  examples/basic/data/linear_cmap_colorbar.py
  examples/basic/data/linear_mappers.py
  examples/plotting/custom_datetime_axis.py
  examples/styling/plots/glyph_selection.py
  examples/styling/plots/glyph_selection_models.py
  examples/topics/stats/boxplot.py
  examples/topics/timeseries/candlestick.py
  examples/topics/timeseries/missing_dates.py
Labels: tag: component: docs, status: accepted, type: task, reso: completed

#12502 More examples updates
  docs/bokeh/source/_images/examples/basic/data/color_mappers.png
  docs/bokeh/source/_images/examples/basic/data/color_mappers@2x.png
  docs/bokeh/source/_images/examples/basic/scatters/image_url.png
  docs/bokeh/source/_images/examples/basic/scatters/image_url@2x.png
  docs/bokeh/source/_images/examples/interaction/widgets/data_cube.png
  docs/bokeh/source/_images/examples/interaction/widgets/data_cube@2x.png
  docs/bokeh/source/_images/examples/interaction/widgets/data_table.png
  docs/bokeh/source/_images/examples/interaction/widgets/data_table@2x.png
  docs/bokeh/source/_images/examples/interaction/widgets/datepicker.png
  docs/bokeh/source/_images/examples/interaction/widgets/datepicker@2x.png
  docs/bokeh/source/_images/examples/interaction/widgets/dropdown.png
  docs/bokeh/source/_images/examples/interaction/widgets/dropdown@2x.png
  docs/bokeh/source/_images/examples/interaction/widgets/multichoice.png
  docs/bokeh/source/_images/examples/interaction/widgets/multichoice@2x.png
  docs/bokeh/source/_images/examples/interaction/widgets/multiselect.png
  docs/bokeh/source/_images/examples/interaction/widgets/multiselect@2x.png
  docs/bokeh/source/_images/examples/styling/plots/glyph_hover.png
  docs/bokeh/source/_images/examples/styling/plots/glyph_hover@2x.png
  docs/bokeh/source/_images/examples/topics/hierarchical/crosstab.png
  docs/bokeh/source/_images/examples/topics/hierarchical/crosstab@2x.png
  docs/bokeh/source/_images/examples/topics/stats/kde2d.png
  docs/bokeh/source/_images/examples/topics/stats/kde2d@2x.png
  docs/bokeh/source/docs/gallery.json
  docs/bokeh/source/docs/gallery.rst
  docs/bokeh/source/docs/user_guide/basic/scatters.rst
  docs/bokeh/source/docs/user_guide/topics/hierarchical.rst
  docs/bokeh/source/docs/user_guide/topics/stats.rst
  docs/bokeh/source/docs/user_guide/topics/timeseries.rst
  examples/basic/axes/twin_axes.py
  examples/basic/data/color_mappers.py
  examples/basic/scatters/image_url.py
  examples/interaction/js_callbacks/file_input.py
  examples/interaction/linking/linked_brushing.py
  examples/interaction/linking/linked_panning.py
  examples/models/image_url.py
  examples/plotting/color_data_map.py
  examples/plotting/file_input.py
  examples/plotting/hover_glyph.py
  examples/plotting/image.py
  examples/plotting/image_rgba.py
  examples/plotting/line_missing_data.py
  examples/plotting/linked_brushing.py
  examples/plotting/linked_panning.py
  examples/plotting/twin_axis.py
  examples/styling/plots/glyph_hover.py
  examples/topics/hierarchical/crosstab.py
  examples/topics/images/image.py
  examples/topics/images/image_rgba.py
  examples/topics/stats/kde2d.py
Labels: tag: component: docs, status: accepted, type: task, reso: completed, tag: component: examples

#12509 Handle line_color=None and fill_color=None in from_contour
  src/bokeh/plotting/contour.py
  tests/unit/bokeh/plotting/test_contour.py
Labels: status: accepted

#12508 Migrate defaults' baseline from yaml to json5
  bokehjs/make/tasks/test.ts
  bokehjs/package-lock.json
  bokehjs/src/compiler/linker.ts
  bokehjs/test/defaults/index.ts
  bokehjs/test/defaults/json.d.ts
  bokehjs/test/package.json
  conda/environment-test-3.10.yml
  conda/environment-test-3.8.yml
  conda/environment-test-3.9.yml
  conda/environment-test-minimal-deps.yml
  src/typings/json5.pyi
  tests/baselines/defaults.json5
  tests/baselines/defaults.yaml
  tests/support/defaults.py
  tests/test_defaults.py
Labels: tag: component: tests, status: accepted, type: task, reso: completed

#12512 Modify renderers helpstring
  src/bokeh/models/plots.py
Labels: status: accepted

#12505 Don't allow `Model(id="some", **properties)`
  bokehjs/src/lib/core/has_props.ts
  src/bokeh/model/model.py
  tests/unit/bokeh/document/test_models.py
  tests/unit/bokeh/model/test_model.py
  tests/unit/bokeh/test_objects.py
Labels: status: accepted, type: task, tag: API: models

#12498 Allow `plt.show()` to append after a `<script>`
  bokehjs/src/lib/api/io.ts
  bokehjs/src/lib/core/dom.ts
  bokehjs/src/lib/embed/dom.ts
  bokehjs/src/lib/embed/index.ts
  bokehjs/src/lib/embed/json.ts
  bokehjs/src/lib/embed/notebook.ts
  bokehjs/src/lib/embed/server.ts
  bokehjs/src/lib/embed/standalone.ts
  docs/bokeh/docserver.py
  src/bokeh/models/plots.py
  src/bokeh/util/serialization.py
Labels: status: accepted

#12513 Resolve deprecations in bokehjs' CI workflow
  .github/workflows/bokehjs-ci.yml
Labels: status: accepted, type: task, reso: completed, tag: component: bokehjs, tag: CI

#12515 Rename `SettingsTool` to `InspectorTool`
  bokehjs/src/lib/api/gridplot.ts
  bokehjs/src/lib/models/tools/actions/index.ts
  bokehjs/src/lib/models/tools/actions/inspector_tool.ts
  examples/basic/scatters/color_scatter.py
  src/bokeh/layouts.py
  src/bokeh/models/tools.py
  tests/baselines/defaults.json5
  tests/unit/bokeh/models/test_tools.py
Labels: status: accepted, type: task, reso: completed, tag: API: models

#12514 Redesign tabs around CSS grid
  bokehjs/src/less/tabs.less
  bokehjs/src/lib/core/dom.ts
  bokehjs/src/lib/models/layouts/layout_dom.ts
  bokehjs/src/lib/models/layouts/tabs.ts
  bokehjs/test/baselines/linux/Bug__in_issue_#12465__doesn't_allow_to_correctly_display_DataTable_in_Tabs.blf
  bokehjs/test/baselines/linux/Bug__in_issue_#12465__doesn't_allow_to_correctly_display_DataTable_in_Tabs.png
  bokehjs/test/integration/regressions.ts
Labels: status: accepted

#12518 Fix typos
  docs/bokeh/source/docs/user_guide/server/deploy.rst
Labels: tag: component: docs, status: ready, type: task

#12519 Move intro paragraph
  docs/bokeh/source/docs/user_guide/topics/hierarchical.rst
Labels: tag: component: docs, status: accepted, type: task, reso: completed

#12516 clarify the scope of the server_auth example
  examples/server/app/server_auth/README.md
  examples/server/app/server_auth/app.py
  examples/server/app/server_auth/auth.py
  examples/server/app/server_auth/login.html
Labels: status: accepted

#12470 Fixed dash example
  examples/server/app/dash/main.py
  examples/server/app/dash/static/css/custom.css
  examples/server/app/dash/static/css/custom.min.css
  examples/server/app/dash/templates/index.html
Labels: status: WIP

#12517 Allow scroll in inspector's model/property panels
  bokehjs/src/less/dialogs.less
  bokehjs/src/less/inspector.less
Labels: status: accepted, type: task, reso: completed, tag: component: bokehjs

#12520 Restore strict docs build
  docs/bokeh/Makefile
  src/bokeh/sphinxext/bokeh_model.py
Labels: type: bug, tag: component: docs, status: accepted, reso: completed

#12522 Rename `InspectorTool` to `ExamineTool`
  bokehjs/src/less/examiner.less
  bokehjs/src/lib/api/gridplot.ts
  bokehjs/src/lib/models/tools/actions/examine_tool.ts
  bokehjs/src/lib/models/tools/actions/index.ts
  bokehjs/src/lib/models/ui/examiner.ts
  bokehjs/src/lib/models/ui/index.ts
  docs/bokeh/source/docs/reference/models/ui/examiner.rst
  docs/bokeh/source/docs/user_guide/interaction/tools.rst
  examples/basic/scatters/color_scatter.py
  examples/models/widgets.py
  src/bokeh/layouts.py
  src/bokeh/models/tools.py
  src/bokeh/models/ui/__init__.py
  src/bokeh/models/ui/examiner.py
  tests/baselines/defaults.json5
  tests/unit/bokeh/models/test_tools.py
Labels: status: accepted, type: task, reso: completed, tag: component: bokehjs, tag: tools

#12524 Some final docs updates
  docs/bokeh/source/_images/examples/interaction/legends/legend_hide.png
  docs/bokeh/source/_images/examples/interaction/legends/legend_hide@2x.png
  docs/bokeh/source/_images/examples/interaction/legends/legend_mute.png
  docs/bokeh/source/_images/examples/interaction/legends/legend_mute@2x.png
  docs/bokeh/source/_images/examples/topics/graph/from_networkx.png
  docs/bokeh/source/_images/examples/topics/graph/from_networkx@2x.png
  docs/bokeh/source/_images/examples/topics/pie/pie.png
  docs/bokeh/source/_images/examples/topics/pie/pie@2x.png
  docs/bokeh/source/docs/gallery.json
  docs/bokeh/source/docs/gallery.rst
  docs/bokeh/source/docs/user_guide/server/deploy.rst
  examples/server/app/faces/main.py
  examples/server/app/gapminder/main.py
  examples/server/app/movies/main.py
  examples/topics/graph/from_networkx.py
Labels: tag: component: docs, status: accepted, type: task, reso: completed

#12526 Robustify maintenance of models' registry
  src/bokeh/core/has_props.py
  src/bokeh/model/model.py
  tests/unit/bokeh/embed/test_bundle.py
  tests/unit/bokeh/test_objects.py
  tests/unit/bokeh/test_resources.py
Labels: status: accepted

#12534 Fix units in blackbody example
  examples/styling/mathtext/latex_blackbody_radiation.py
Labels: status: accepted

#12525 Added metadata to bokeh\examples\plotting\checkout_form.py
  examples/plotting/checkout_form.py
Labels: status: accepted, type: task, reso: completed, tag: component: examples
