Repository bokeh/bokeh, pull requests merged in 2024-11, with the labels that each got.

#14096 Backports for 3.6.1
  .github/workflows/bokehjs-ci.yml
  bokehjs/make/tasks/test.ts
  bokehjs/src/lib/core/visuals/fill.ts
  bokehjs/src/lib/core/visuals/hatch.ts
  bokehjs/src/lib/models/canvas/canvas.ts
  bokehjs/src/lib/models/plots/plot_canvas.ts
  bokehjs/src/lib/models/tools/toolbar.ts
  bokehjs/test/unit/regressions.ts
  docs/bokeh/source/docs/releases/3.6.1.rst
  docs/bokeh/switcher.json
Labels: status: ready, type: task

#14147 Run lock threads workflow once a week
  .github/workflows/bokehjs-test-chromium.yml
  .github/workflows/lock-threads.yml
Labels: status: accepted, type: task, reso: completed, tag: CI

#14154 Fix a regression in `ScaleBar` positioning
  bokehjs/src/lib/models/annotations/scale_bar.ts
  bokehjs/test/baselines/linux/Bug__in_issue_#14153__doesn't_allow_correctly_position_ScaleBar_annotation.blf
  bokehjs/test/baselines/linux/Bug__in_issue_#14153__doesn't_allow_correctly_position_ScaleBar_annotation.png
  bokehjs/test/integration/regressions.ts
Labels: status: accepted, NEEDS BACK PORT

#14131 Improvements to bokehjs' tests framework
  bokehjs/test/devtools/devtools.ts
Labels: tag: component: tests, status: accepted, type: task, reso: completed, tag: component: bokehjs

#14161 fix missing line on search box
  docs/bokeh/source/_static/custom.css
Labels: status: ready, NEEDS BACK PORT

#14167 Upgrade to TypeScript 5.7
  bokehjs/make/package.json
  bokehjs/package-lock.json
  bokehjs/package.json
  bokehjs/src/compiler/package.json
  bokehjs/src/lib/core/util/ndarray.ts
  bokehjs/src/lib/core/util/types.ts
Labels: status: ready, status: accepted, type: task, reso: completed, tag: component: build, tag: component: bokehjs
